<mat-card>
    <mat-card-header>
        <mat-card-title>Number Animater</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout class="number">
            <!-- <div class="inline-block">1</div>
            <div class="inline-block">2</div> -->
            <ng-container #numberHolder></ng-container>
        </div>
    </mat-card-content>
</mat-card>

<div class="inline-block" *numberText>0</div>
<div class="inline-block" *numberText>1</div>
<div class="inline-block" *numberText>2</div>
<div class="inline-block" *numberText>3</div>
<div class="inline-block" *numberText>4</div>
<div class="inline-block" *numberText>5</div>
<div class="inline-block" *numberText>6</div>
<div class="inline-block" *numberText>7</div>
<div class="inline-block" *numberText>8</div>
<div class="inline-block" *numberText>9</div>