<mat-card>
  <mat-card-header>
    <mat-card-title>
      This is a simple If structural directive
    </mat-card-title>
    <mat-card-subtitle>
      using as *syntax sugar
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div *appSimpleIf="show; else falseRef">
      On true condtion
    </div>
    <ng-template #falseRef>
      <div>
        On false condition
      </div>
    </ng-template>
  </mat-card-content>

  <mat-card-actions>
    <button color="primary" mat-raised-button (click)="show = !show">Toggle condition</button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      This is a simple If structural directive
    </mat-card-title>
    <mat-card-subtitle>
      using as ngTemplate
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <ng-template [appSimpleIf]="showTemplate" [appSimpleIfElse]="elseRef">
      <div>
        On true condtion
      </div>
    </ng-template>
    <ng-template #elseRef>
      <div>
        On false condition
      </div>
    </ng-template>
  </mat-card-content>

  <mat-card-actions>
    <button color="primary" mat-raised-button (click)="showTemplate = !showTemplate">Toggle condition</button>
  </mat-card-actions>
</mat-card>