<bg-content-animation [config]="bgContentAnimationConfig" #car="car">
  <div *bgContent class="bg-item">
    <app-content-card [data]="card1Data"></app-content-card>
  </div>
  <div *bgContent class="bg-item">
    <img src="https://raw.githubusercontent.com/Pradeep12191/angular-advance/master/src/assets/images/9a_Angular-JS-development.jpg"
      alt="">
  </div>
  <div *bgContent class="bg-item">
    <app-content-card [data]="card2Data"></app-content-card>
    <div class="caption"  @group (@group.done)="onComp($event)" >Slide 3</div>
  </div>
  <div *bgContent class="bg-item">
    <img src="./assets/images/banner-1.png" alt="">
  </div>
  <carousel-right-arrow>
      <button class="arrow-btn" mat-mini-fab color="primary" bgArrow="right">
          <mat-icon aria-label="right arrow icon">fast_forward</mat-icon>
      </button>
  </carousel-right-arrow>
  <carousel-left-arrow>
      <button class="arrow-btn" mat-mini-fab color="primary" bgArrow="left">
          <mat-icon aria-label="right arrow icon">fast_rewind</mat-icon>
      </button>        
  </carousel-left-arrow>
</bg-content-animation>
