<header>
  <mat-toolbar fxLayout class="mat-elevation-z6" color="primary">
    <div fxLayout="column" fxLayoutAlign="center center" (click)="sidenav.toggle()">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="caption">Advance Angular Topics</div>
  </mat-toolbar>
</header>

<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z2" [opened]="openSideNav" #sidenav [mode]="isSmallDevice ? 'over' : 'side'">
    <mat-list role="list">
      <mat-list-item id="view-container-reference" routerLinkActive="active" routerLink="/viewContainerReference" class="menu" role="listitem">View
        Container Reference</mat-list-item>
      <mat-list-item class="menu" role="listitem">OnPush ChangeDetection</mat-list-item>
      <mat-list-item class="menu" role="listitem">Animation Builder</mat-list-item>
      <mat-list-item routerLinkActive="active" routerLink="/cdkOverlay" class="menu" role="listitem">CDK Overlay</mat-list-item>
      <mat-list-item routerLinkActive="active" routerLink="/structuralDirective" class="menu" role="listitem">Structural Directive</mat-list-item>
      <mat-list-item class="menu" role="listitem">Angular Animation</mat-list-item>
      <mat-list-item routerLinkActive="active" routerLink="/inlineTable" class="menu" role="listitem">Inline Table</mat-list-item>
      <mat-list-item routerLinkActive="active" routerLink="/inlineMatTable" class="menu" role="listitem">Inline Material Table</mat-list-item>
      <mat-list-item routerLinkActive="active" routerLink="/dynamicForm" class="menu" role="listitem">Dynamic Form</mat-list-item>
      <mat-list-item routerLinkActive="active" routerLink="/flipCards" class="menu" role="listitem">Dynamic Flip cards</mat-list-item>
      <mat-list-item routerLinkActive="active" routerLink="/dynamicDragDrop" class="menu" role="listitem">Dynamic Drag and drop</mat-list-item>
      <mat-list-item routerLinkActive="active" routerLink="/cdkDragDrop" class="menu" role="listitem">CDK Drag and drop</mat-list-item>
      <mat-list-item routerLinkActive="active" routerLink="/imageAnimation" class="menu" role="listitem">Image Animation</mat-list-item>
      <mat-list-item routerLinkActive="active" routerLink="/contentAnimation" class="menu" role="listitem">Content Animation</mat-list-item>
      <mat-list-item routerLinkActive="active" routerLink="/observable" class="menu" role="listitem">Observable</mat-list-item>
      <mat-list-item class="menu" routerLinkActive="active" routerLink="/controlValueAccessor" role="listitem">Control
        Value Accessor</mat-list-item>
    </mat-list>
  </mat-sidenav>
<mat-sidenav-content [ngClass]="stickyClass$ | async">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
