.options{
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
}

.options__number{
    padding: 5px;
}

.options__action{
    margin-top: 10px;
}

.options__title{
    margin-bottom: 0px;
}