.overlay-container{
    position: relative;
}

.overlay-div{
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.scroll-container{
    height: 500px;
    width: 250px;
    border: solid 1px black;
    background-color: #eee;
    overflow: auto
}

.scroll-content{
    height: 200px;
    width: 200px;
    background: white;
    margin: 10px;
}